
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles  */

.display-flex{
    display: flex;
}
.text-gray{
        color: #424242;

}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* Header Stle here*/


/* navbar style */

.nav-item{
    list-style: none;
    margin-left: 30px;

    
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}


.nav-link {

    text-decoration: none;
    font-weight: 500;
    font-size: 18px;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner container style */

.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary-color{
    background-color: #FF900E;
    color: white;
    padding: 20kpx 25px;
    font-size: 1.25em;
    border-radius: 5px;
    border: 1px solid #FF900E;
    font-weight: 600;

}
.banner-image{
    width:100%;
}
/* responsive quary request*/
@media screen and (max-width:576) {

    .navbar,.nav-links{
        flex-direction: column;
    }
    
}